<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="description" content="Iran BSD User Group">
  <meta name="keywords" content="UNIX, BSD, FreeBSD, OpenBSD, NetBSD, IRBUG, Iran BSD User Group">
  <meta name="date" content="2019-01-16" scheme="YYYY-MM-DD" />
  <link type="text/css" rel="stylesheet" href="/www/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iran BSD User Group</title>
</head>
<body>
  <h2 style="text-align:center;padding-bottom:60px;"><strong>IRBUG</strong><br><small style="font-size:0.9rem">( Iran BSD User Group )</small></h2>

  {{ content }}

  <footer style="text-align:center;font-size=16px;padding-top:20px;padding-bottom:20px;"><a href="mailto:contact@irbug.org" title="contact us">contact</a> | <a href="https://twitter.com/kfvahedi">@kfvahedi</a> | <a href="https://www.irbug.org/fa">fa</a></footer>
</body>
</html>
